body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto","Arial", sans-serif;
    letter-spacing: 0.5px;
}



/* SITE-HEADER*/
.site-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-actions{
    display: flex;
    align-items: center;
}
/*SITENAV*/
.sitenav-list{
    list-style: none;
    display: flex;
  
}
.sitenav-link{
    
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

/*MAIN-LINK*/
.main-link{
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
}
 
/*HERO*/
.hero{
    background-color: #252420;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    width: 390px;
}
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}

.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Roboto","Arial", sans-serif;
    
}
.hero-img{
    width: 510px;
    height: 510px;
}



/*FEATURES*/
.features-heading{
    
    width: 440px;
    font-size: 72px;
    line-height: 86.5px;
    font-family: "Roboto Condensed", "Roboto","Arial", sans-serif;
    letter-spacing: 0.5px;
    

}
/*FEATURE*/
.feature{
   width: 340px;
  

}

.features-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.features-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);

}

.features-title{
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto","Arial", sans-serif;

}

/* PROMO */
.promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #fff;
}

.promo-content{
    width: 440px;
    

}

.promo-heading{
    font-size: 40px; 
    line-height: 48px;
    font-family: "Roboto Condensed", "Roboto","Arial", sans-serif;

}


.promo-highlight{
    color: #ff7500;

}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* SITE-FOOTER */
.site-footer{
    background-color: #f8f8f8;
}

.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer ul {
    list-style: none;
}

.site-footer-socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-footer-divider{
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
    
}
.site-footer-bottom{
    display: flex;
    align-items: center;
}
.site-footer-links{
    width: 224px;
    line-height: 19px;
}
.site-footer-links a {
    text-decoration: none;
    color: #252420;
}