body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

*:focus{
    outline: 2px solid #ff7500;
    outline-offset: 3px
}

/* SITE-HEADER*/
.site-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #ff7500;
    padding-top: 16px;
    padding-bottom: 16px;;
    align-items: center;
}

.logo-link {
    transition: opacity 0.4 ease;

}

.logo-link :hover{
    opacity: 0.8;
}


.logo-link :active{
    opacity: 0.6;
}
.site-header-actions {
    display: flex;
    align-items: center;
}

/*SITENAV*/
.sitenav-list {
    list-style: none;
    display: flex;
    padding: 0;

}

.sitenav-link {

    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.4s ease,
     opacity 0.4 ease;
}

.sitenav-list :hover{
    color: #ff7500;
}

.sitenav-list :active{
    opacity: 0.6;
}

/*MAIN-LINK*/
.main-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.main-link :hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
/*HERO*/
.hero {
    background-color: #252420;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;
}

.hero-content {
    width: 390px;
}

.orange-line {
    width: 80px;
    height: 3px;
    border: 0;
    background-color: #FF7500;
}

.hero-heading {
    font-size: 40px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
}



/*FEATURES*/

.feature{
    padding-top: 210px;
    padding-bottom: 210px;
}
.features-heading {

    width: 440px;
    font-size: 72px;
    line-height: 86.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;


}

/*FEATURE*/
.feature {
    width: 340px;


}

.features-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.features-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2);

}

.features-title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

/* PROMO */
.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
}

.promo-content {
    width: 440px;


}

.promo-heading {
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}


.promo-highlight {
    color: #ff7500;

}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}

/* SITE-FOOTER */
.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}


.site-footer-socials {
    display: flex;
    align-items: center;
    padding: 0;
}


.site-footer-socials a{
    color: #252420;
}
.site-footer-socials a:hover{
    color: #ff7500;
}

.site-footer-socials a:focus{
    opacity:0.6;
}
.site-footer-divider {
    height: 2px;
    border: 0;
    background-color: rgba(37, 36, 32, 0.5);

}

.site-footer-bottom {
    display: flex;
    align-items: center;
}

.site-footer-links {
    width: 224px;
    line-height: 19px;
}
.site-footer-links :hover{
    color: #ff7500;
}

.site-footer-links :active{
    opacity: 0.6;
}
.site-footer-links a {
    text-decoration: none;
    color: #252420;
}